body {
  padding: 2rem 0rem;
}
.card {
  margin-bottom: 2rem;
}

.mx-2 {
  margin: 5px;
}
/* .row {
  background-color: rgb(131, 164, 192);
} */

.comm1 {
  margin: 5rem;
  color: rgb(12, 32, 49);
}

.txt {
  border: solid 2px black;
  background-color: #5960a9;
  border-radius: 5px;
  /* margin: 2.5rem; */
}

.frm {
  padding: 0.35rem;
  /* border: solid black 2px; */
  /* background-color: #ffffff; */
  /* border-color: rgb(0, 0, 0); */
}

.cmnt {
  margin-bottom: 2rem;
}

.cmnts {
  /* border: solid black 2px; */
}

.btns {
  margin: 1.5rem;
  align-items: right;
}

.btn {
  margin-right: 0.25rem;
}

.container1 {
  /* background-color: aqua; */
  /* border: solid black 2px; */
  text-align: center;
}

.conainer1.cmmnts {
  background-color: #5960a9;
}
