<div class="container  text-center justify-content-center">
  <div class="row">
    <!-- <img src="https://wallpapers.com/images/hd/code-symbols-programming-hjbyni9117oaqbap.jpg" alt=""
      class="card-img-top " style="height: 350px; width: 650px; margin-top: 5rem;"> -->
    <div class="card-body" style="border-radius: 5px; ">
      <p class="card-text text-bg-dark  font-weight-bold">
      <p>
        <strong>Module Name:</strong> Home Loan
      </p>
      <p>
        <strong>Bug Details:</strong>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque corporis,
        quam molestiae sapiente magnam dolore?
      </p>
      <p>
        <strong>Device Details:</strong> Mobile
      </p>

    </div>
  </div>

  <div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="row ">
      <app-comments></app-comments>
    </div>
  </div>
</div>